{% extends "boceto/base.html" %}
{% load static %}

{% block content %}
<html>

<head>
    <style>
   .elementor-section {
  margin-bottom: 30px;
}

.elementor-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .elementor-column {
    margin-bottom: 20px;
  }
}
.elementor-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.elementor-image:hover img {
    transform: scale(1.1);
	  
}

@media (max-width: 767px) {
  .elementor-image img {
    max-width: 80%;
  }
}
.elementor-widget-text-editor p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.elementor-heading-title {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

    </style>

</head>
<br>
<section
    class="elementor-section elementor-top-section elementor-element elementor-element-e9c9237 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="e9c9237" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-59ba0c01"
                data-id="59ba0c01" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-1d717423 elementor-widget elementor-widget-text-editor"
                            data-id="1d717423" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>Fundación: 11 de Sep. del 2017</p>
                                    <p>&nbsp;</p>
                                    <p>Fundada por 12 socios y actualmente somos 25 socios productores de banano de los
                                        cuales son 14 orgánicos y 11 Convencionales.</p>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-138dbc26 elementor-widget elementor-widget-heading"
                            data-id="138dbc26" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 class="elementor-heading-title elementor-size-default">Nosotros</h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-cc38844 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                            data-id="cc38844" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-52d9173c"
                data-id="52d9173c" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-58973d31 elementor-widget elementor-widget-image"
                            data-id="58973d31" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <img src="https://www.cooporoverde.org/wp-content/uploads/2020/08/finca2.jpeg"
                                        class="elementor-animation-grow attachment-large size-large" alt=""
                                        loading="lazy"
                                        srcset="https://www.cooporoverde.org/wp-content/uploads/2020/08/finca2.jpeg 576w, https://www.cooporoverde.org/wp-content/uploads/2020/08/finca2-169x300.jpeg 169w"
                                        sizes="(max-width: 576px) 100vw, 576px" width="576" height="1024">
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7a0f5643 elementor-widget elementor-widget-text-editor"
                            data-id="7a0f5643" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>Somos una organización de pequeños productores de banano asentada en la zona sur
                                        de Ecuador. El cultivo del banano es la principal fuente de ingresos de nuestros
                                        socios</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-19f07416"
                data-id="19f07416" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-5fb04ed3 elementor-widget elementor-widget-text-editor"
                            data-id="5fb04ed3" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>Nuestra fruta es comercializada en varios países europeos tales como Alemania,
                                        Italia, Francia y contamos con Certificación Fair Trade, Orgánica, Global Gap, Y
                                        buenas Practicas de manufactura.</p>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-2cda2fc elementor-widget elementor-widget-image"
                            data-id="2cda2fc" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <img src="https://www.cooporoverde.org/wp-content/uploads/2020/08/finca5.jpeg"
                                        class="elementor-animation-grow attachment-large size-large" alt=""
                                        loading="lazy"
                                        srcset="https://www.cooporoverde.org/wp-content/uploads/2020/08/finca5.jpeg 768w, https://www.cooporoverde.org/wp-content/uploads/2020/08/finca5-225x300.jpeg 225w"
                                        sizes="(max-width: 750px) 100vw, 750px" width="750" height="1000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>
{% endblock %}