{% extends "boceto/base.html" %}
{% load static %} 
{% block content %}
<html lang="es">
    <link rel="stylesheet" href="{% static 'boceto/css/main.css' %}" />
		<link rel="icon" href="{% static 'boceto/images/Favicon.ico' %}" type="image/x-icon">
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h2>Organización de productores <br>
                    de Banano orgánico</h2>
                <p>Nuestra fruta es comercializada en varios países europeos <br>
                    tales como Alemania, Italia, Francia y contamos con <br>
                    Certificación Fair Trade, Orgánica, Global Gap, Y Buenas <br>
                    Practicas de Manufactura.</p>
            </header>
            <span class="image"><img src="{% static 'boceto/images/pic01.png' %}" alt="" /></span>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
    </section>

    <!-- One -->
    <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img src="{% static 'boceto/images/pic02.jpg' %}" alt="" /></span>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>Nuestra Cooperativa</h2>
                            <p>Somos una organización de pequeños productores de banano asentada en la zona sur de
                                Ecuador.</p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>El cultivo del banano es la principal fuente de
                            ingresos de nuestros socios. Nuestra fruta es
                            comercializada en varios países europeos tales
                            como Alemania, Italia, Francia y contamos con
                            Certificación Fair Trade, Organica, Global Gap,
                            Y Buenas Practicas de Manufactura.</p>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>La Cooperativa Agrícola Oro Verde fue fundada el
                            11 de septiembre de 2017 por 12 socios. En la
                            actualidad, hemos crecido y contamos con 25 socios
                            dedicados a la producción de banano, de los cuales
                            14 son productores orgánicos y 11 siguen métodos
                            convencionales.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </section>

    <!-- Two -->
    <section id="two" class="spotlight style2 right">
        <span class="image fit main"><img src="{% static 'boceto/images/pic03.jpg' %}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Banano Cavendish orgánico</h2>
                <p>El banano cavendish es el de mayor consumo a nivel mundial.</p>
            </header>
            <p>Es una excelente fuente de carbohidratos y fibra, lo que ayuda a mantener una buena
                salud y un ritmo de vida saludable. Gracias a su alto contenido de potasio y bajo
                contenido de sodio, es especialmente beneficioso para personas con hipertensión
                arterial o enfermedades cardíacas y vasculares.</p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más</a></li>
            </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

    <!-- Three -->
    <section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img src="{% static 'boceto/images/pic04.jpg' %}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Trabajamos por el bienestar de nuestra comunidad</h2>
            </header>
            <p>Realizamos actividades de reforestación de plantas nativas como parte de nuestra vinculación con
                nuestra comunidad. <br> <br>
                Somos socios de el programa Sembrando Vida de la Prefectura de El Oro para devolver las especies
                nativas de árboles a nuestras tierras</p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más</a></li>
            </ul>
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>


    <!-- Four -->
    <section id="four" class="wrapper style1 special fade-up">
        <div class="container">
            <header class="major">
                <h2>Fomentamos el Comercio Justo</h2>
                <p>Contamos con las certificaciones ORGÁNICA Y GLOBAL GAP individuales de cada uno de
                    nuestros socios para los mercados USA, Europa y Japón</p>
            </header>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <div class="image-box d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'boceto/images/fairtrade300.png' %}" alt="img1" style="width: 60%; height: 60%;filter: drop-shadow(5px 5px 5px #0e0d0d8c);">
                        </div>
                        <h3>Fair Trade</h3>
                        <p>Alguna descrición de la certificación.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <div class="image-box d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'boceto/images/global300.png' %}" alt="img2" style="width: 60%; height: 60%;filter: drop-shadow(5px 5px 5px #0e0d0d8c);">
                        </div>
                        <h3>Global Gap</h3>
                        <p>Alguna descrición de la certificación.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <div class="image-box d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'boceto/images/control300.png' %}" alt="img3" style="width: 60%; height: 60%;filter: drop-shadow(5px 5px 5px #0e0d0d8c);">
                        </div>
                        <h3>Control Union Certified</h3>
                        <p>Alguna descrición de la certificación.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <div class="image-box d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'boceto/images/BPM300.png' %}" alt="img3" style="width: 60%; height: 60%;filter: drop-shadow(5px 5px 5px #0e0d0d8c);">
                        </div>
                        <h3>Buenas Practicas de Manufactura</h3>
                        <p>Alguna descrición de la certificación.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <div class="image-box d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'boceto/images/organica300.png' %}" alt="img4" style="width: 60%; height: 60%;filter: drop-shadow(5px 5px 5px #0e0d0d8c);">
                        </div>
                        <h3>ORGÁNICA</h3>
                        <p>Alguna descrición de la certificación.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-lock"></span>
                        <h3>Por si Sacan Otra</h3>
                        <p>Alguna descrición de la certificación.</p>
                    </section>
                </div>
            </div>

            <footer class="major">
                <ul class="actions special">
                    <li><a href="#" class="button">Conozca más</a></li>
                </ul>
            </footer>
        </div>
    </section>

   <!-- contactanos -->
<section id="five" class="wrapper style2 special fade">
    <div class="container">
        <header>
            <h2 style="color: white;">Contáctanos  </h2>
            <p style="color: white;">No nos escribas, nosotros te escribiremos</p>
        </header>
        <!--aqui ve si es true el valor muestra este mensaje-->
        {% if enviado_correctamente %}
            <p style="color: white;font-size: larger;">Correo enviado correctamente. 
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#11c02e}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> </p>
        {% endif %}
        <form  method="post" action="{% url 'enviar_correo' %}" class="cta">
            <div class="row gtr-uniform gtr-50">
                {% csrf_token %}
                <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email"
                        placeholder="Escribe tu correo electrónico" /></div>
                <div class="col-4 col-12-xsmall"><input type="submit" value="Enviar" class="fit primary" />
                </div>
            </div>
        </form>
    </div>
</section>

</html>
{% endblock %}